body {
  background-color: #fff4eb;
}

.hidden {
  display: none;
}

.account-frame {
  margin: 1em;
  padding: 1.5em;
  border: 2px #f39000 solid;
  border-radius: 10px;
  min-height: 300px;
}

.button {
  font-family: Quicksand, sans-serif;
  color: white;
  background-color: #ed7004;
  border: none;
  border-radius: 10px;
  padding: 0.8em 1em;
  min-width : 160px;
}

form {
  font-family: Quicksand, sans-serif;
}

#form-deco input.button {
  margin: 1.5em;
}

#form-delete input.button {
  margin: 1.5em;
}

#form-update label {
  display: inline-block;
  min-width: 110px;
  text-align: left;
  margin: 1em;
}

#form-update input {
  display: inline-block;
  min-width: 230px;
  min-height: 35px;
  border-radius: 10px;
  border: solid 1px #ed7004;
  padding: 0 0.5em;
}

#form-update > div > #save-infos {
  font-family: Quicksand, sans-serif;
  color: white;
  background-color: #ed7004;
  border: none;
  border-radius: 10px;
  margin: 1em 0;
  padding: 0.8em 1em;
  min-width: 160px;
}

#form-post textarea {
  display: inline-block;
  border-radius: 10px;
  border: solid 1px #ed7004;
  padding: 0 0.5em;
  min-width: 230px;
}

#send-post {
  margin: 1em 0;
  padding: 0.8em 1em;
  min-width: 160px;
}

@media screen and (min-width: 992px) {
  #form-post textarea {
    display: inline-block;
    border-radius: 10px;
    border: solid 1px #ed7004;
    padding: 0 0.5em;
    min-width: 600px;
  }
}

#form-post label {
  display: inline-block;
  min-width: 110px;
  text-align: left;
  margin: 1em;
}

#form-post .input {
  display: inline-block;
  min-width: 230px;
  min-height: 35px;
  border-radius: 10px;
  border: solid 1px #ed7004;
  padding: 0 0.5em;
}

#form-post > #send-post {
  margin: 1em 0;
  padding: 0.8em 1em;
  min-width: 160px;
}
